[submodule "dwm"]
	path = dwm
	url = https://git.suckless.org/dwm
[submodule "slstatus"]
	path = slstatus
	url = git://git.suckless.org/slstatus
[submodule "slock"]
	path = slock
	url = https://git.suckless.org/slock
[submodule "dmenu"]
	path = dmenu
	url = https://git.suckless.org/dmenu
[submodule "st"]
	path = st
	url = git://git.suckless.org/st
